@font-face {
    font-family: "MyFont";
    src: url("../fonts/Pangram-ExtraLight.otf");
}

@font-face {
    font-family: "MyFont2";
    src: url("../fonts/billy.ttf");
}

* {
  font-family: "MyFont";
  text-align: center;
}

li {
  text-align: left;
}

#a {
  color: black;
}

#a2 {
  color: white;
}

.menu {
  width: 100%;
  text-align: right;
  margin-top: 30px;
}

.right {
  display: inline;
  padding-right: 3%;
}

.form {
  position: absolute;
  right: 180px;
  top: 28px;
}

#appName {
  margin-top: 20%;
  margin-bottom: 5%;
  font-family: "MyFont2";
  font-size: 5em;
}

#searchBox {
  width: 40%;
  height: 30px;
}

.add {
  margin-left: 1%;
}

.mainButtons {
  margin-top: 3%;
}

.click:hover {
  text-decoration: underline;
  cursor: pointer;
}

#border {
  border-bottom: solid 3px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

#list {
  margin-top: 3%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.itemList {
  margin-top: 1%;
  display: inline;
}

#matchesBorder {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#recipeName {
  cursor: pointer;
  text-align: left;
}

.delete {
  display: inline;
}

.name {
  display: inline;
  margin-right: 1%;
}

#favList {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
